pipeline/p7.json
{
	"name": "p7",
	"properties": {
		"activities": [
			{
				"name": "SP_ABC_NEXT_VAL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\nDECLARE \n    @VAR_LOOKUP_YEAR INT,\n    @VAR_LOOKUP_ADLSG2_DOMAIN_NAME VARCHAR(200),\n    @VAR_LOOKUP_CONTAINER_NAME VARCHAR(200),\n    @VAR_LOOKUP_DIRECTORY_PATH VARCHAR(200),\n    @VAR_LOOKUP_HIERARCHY_PATH VARCHAR(200),\n    @VAR_LOOKUP_FILENAME VARCHAR(200)\n\nEXECUTE [dbo].[SP_ABC_NEXT_VAL] @VAR_LOOKUP_YEAR OUTPUT, @VAR_LOOKUP_ADLSG2_DOMAIN_NAME OUTPUT, @VAR_LOOKUP_CONTAINER_NAME OUTPUT, @VAR_LOOKUP_DIRECTORY_PATH OUTPUT, @VAR_LOOKUP_HIERARCHY_PATH OUTPUT, @VAR_LOOKUP_FILENAME OUTPUT\n\nSELECT \n    @VAR_LOOKUP_YEAR AS VAR_LOOKUP_YEAR, \n    @VAR_LOOKUP_ADLSG2_DOMAIN_NAME AS VAR_LOOKUP_ADLSG2_DOMAIN_NAME, \n\t@VAR_LOOKUP_CONTAINER_NAME AS VAR_LOOKUP_CONTAINER_NAME, \n\t@VAR_LOOKUP_DIRECTORY_PATH AS VAR_LOOKUP_DIRECTORY_PATH, \n\t@VAR_LOOKUP_HIERARCHY_PATH AS VAR_LOOKUP_HIERARCHY_PATH, \n\t@VAR_LOOKUP_FILENAME AS VAR_LOOKUP_FILENAME\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_p7_source_ad_works_db",
						"type": "DatasetReference",
						"parameters": {
							"param_ds_sql_server_name": {
								"value": "@pipeline().globalParameters.param_global__source_sql_server",
								"type": "Expression"
							},
							"param_ds_sql_db_name": {
								"value": "@pipeline().globalParameters.param_global__source_sql_db_name",
								"type": "Expression"
							},
							"param_ds_sql_server_admin_name": {
								"value": "@pipeline().globalParameters.param_global__sql_server_admin_name",
								"type": "Expression"
							},
							"param_ds_sql_server_password_secret_name": {
								"value": "@pipeline().globalParameters.param_global__source_sql_server_admin_password_secret_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SP_ABC_NEXT_VAL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "abc_active_flag",
								"value": {
									"value": "@string('true')",
									"type": "Expression"
								}
							},
							{
								"name": "abc_load_timestamp",
								"value": {
									"value": "@string(utcNow())",
									"type": "Expression"
								}
							},
							{
								"name": "abc_adf_name",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							{
								"name": "abc_pipeline_name",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "abc_run_id",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "abc_trigger_name",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							{
								"name": "abc_trigger_time",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							{
								"value": "$$COLUMN:"
							}
						],
						"sqlReaderQuery": {
							"value": "@concat('SELECT TOP 1000 * FROM SALESLT.ADDRESS WHERE YEAR(ModifiedDate) = ', activity('SP_ABC_NEXT_VAL').output.firstRow.VAR_LOOKUP_YEAR)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ""
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_p7_source_ad_works_db",
						"type": "DatasetReference",
						"parameters": {
							"param_ds_sql_server_name": {
								"value": "@pipeline().globalParameters.param_global__source_sql_server",
								"type": "Expression"
							},
							"param_ds_sql_db_name": {
								"value": "@pipeline().globalParameters.param_global__source_sql_db_name",
								"type": "Expression"
							},
							"param_ds_sql_server_admin_name": {
								"value": "@pipeline().globalParameters.param_global__sql_server_admin_name",
								"type": "Expression"
							},
							"param_ds_sql_server_password_secret_name": {
								"value": "@pipeline().globalParameters.param_global__source_sql_server_admin_password_secret_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_p7_target_raw_layer",
						"type": "DatasetReference",
						"parameters": {
							"param_ds_year": {
								"value": "@activity('SP_ABC_NEXT_VAL').output.firstRow.VAR_LOOKUP_YEAR",
								"type": "Expression"
							},
							"param_ds_adlsg2_domain_name": {
								"value": "@activity('SP_ABC_NEXT_VAL').output.firstRow.VAR_LOOKUP_ADLSG2_DOMAIN_NAME",
								"type": "Expression"
							},
							"param_ds_container_name": {
								"value": "@activity('SP_ABC_NEXT_VAL').output.firstRow.VAR_LOOKUP_CONTAINER_NAME",
								"type": "Expression"
							},
							"param_ds_file_path": {
								"value": "@activity('SP_ABC_NEXT_VAL').output.firstRow.VAR_LOOKUP_DIRECTORY_PATH",
								"type": "Expression"
							},
							"param_ds_hierarchy_path": {
								"value": "@activity('SP_ABC_NEXT_VAL').output.firstRow.VAR_LOOKUP_HIERARCHY_PATH",
								"type": "Expression"
							},
							"param_ds_file_name": {
								"value": "@activity('SP_ABC_NEXT_VAL').output.firstRow.VAR_LOOKUP_FILENAME",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "Stored procedure2",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"annotations": []
	}
}